<div class="main_zone">
  <nav id="menuber_top">
    <ul>
      <%if current_user==nil%> 
        <li><%= link_to "新機登録", new_registration_path(resource_name) %><br /></li>
        <li><%= link_to "ログイン", new_session_path(resource_name) %><br /></li>
      <%else%>
        <li><%= link_to "マイページ", mainnnote_mypage_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
      <%end%>    
    </ul>
  </nav>  
  <h1 align="center">工夫FACTORY</h1>
  <nav id="menuber">
    <ul class="menu_text">
      <li><%= link_to 'トップ', root_path %></li>
      <li><%= link_to "サイトについて", mainnnote_about_path %></li>
      <li><%= link_to "新規工夫投稿", new_mainnote_path %></li>   
      <li><%= link_to "工夫職人一覧", mainnnote_usershow_path %></li>
    </ul>
  </nav>
  <div class="title">
    <h2 class="page_title">ログイン</h2>
  </div>
  <div class="main_border">
    <div class="form_background">
      <p>まずはログイン、もしくは新規登録しましょう！</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login_form">
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_size", placeholder:"メールアドレス" %>
        </div>

        <div class="login_form">
          <%= f.password_field :password, autocomplete: "current-password", class:"form_size", placeholder:"パスワード" %>
        </div>
        <p class="error_massege_text"><strong><%= alert %></p>
        <div class="actions">
          <%= f.submit value:"ログイン" ,class:"main_button" %>
        </div>
        <p><%= link_to "パスワードを忘れた時", new_password_path(resource_name) %></p>
      <% end %>
    </div>
  </div>
</div>
