<div class="form_background">
  <%= form_with model: [ @mainnote, @mainnote.notecomments.build ] do |form| %>
    <p>
      <%= form.hidden_field :user_id, value: current_user.id, :readonly => true%>
    </p>
    
    <p>
      <%= form.label :"コメント" %><br>
      <%= form.text_area :comment %>
    </p>
      
    <p>
      <%= form.label :"将来性評価"%><br>
      <%= form.select :future_point, [["0ポイント", selected: 0], ["1ポイント", 1], ["2ポイント", 2], ["3ポイント", 3], ["4ポイント", 4], ["5ポイント", 5],["6ポイント", 6],["7ポイント", 7],["8ポイント", 8],["9ポイント", 9],["10ポイント", 10]] %>
    </p>
      
    <p>
      <%= form.label :"意外性評価" %><br>
      <%= form.select :surprisingly_point, [["0ポイント", selected: 0], ["1ポイント", 1], ["2ポイント", 2], ["3ポイント", 3], ["4ポイント", 4], ["5ポイント", 5],["6ポイント", 6],["7ポイント", 7],["8ポイント", 8],["9ポイント", 9],["10ポイント", 10]] %>
    </p>
      
    <p>
      <%= form.label :"実現性評価"%><br>
      <%= form.select :realization_point , [["0ポイント", selected: 0], ["1ポイント", 1], ["2ポイント", 2], ["3ポイント", 3], ["4ポイント", 4], ["5ポイント", 5],["6ポイント", 6],["7ポイント", 7],["8ポイント", 8],["9ポイント", 9],["10ポイント", 10]] %>
    </p>
    
    <p>
      <%= form.submit :"コメントを投稿する" %>
    </p>
  <% end %>
</div>    
