<div class="main_zone">
  <nav id="menuber_top">
    <ul>
      <%if current_user==nil%> 
        <li><%= link_to "新機登録", new_registration_path(resource_name) %><br /></li>
        <li><%= link_to "ログイン", new_session_path(resource_name) %><br /></li>
      <%else%>
        <li><%= link_to "マイページ", mainnnote_mypage_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
      <%end%>    
    </ul>
  </nav>  
  <h1 class="main_title">工夫FACTORY</h1>
  <nav id="menuber">
    <ul class="menu_text">
      <li><%= link_to "サイトトップ　", root_path %></li>
      <li><%= link_to "サイトについて", mainnnote_about_path %></li>
      <li><%= link_to "新規工夫投稿　", new_mainnote_path %></li>   
      <li><%= link_to "工夫職人一覧　", mainnnote_usershow_path %></li>
    </ul>
  </nav>
</div>
<div class="main_background"> 
  <div class="main_zone">  
    <h2 class="page_title"><%=@mainnote.title%></h2>
    <div class="main_border">
      <!--ログインしているユーザーのみに更新削除をできるように設定。コントローラーでもできるが、ボタンを表示させたくないのでviewで条件を設定。-->
      <div class="show_images">
        <%if @mainnote.image1.blank? %>
          <img src="/assets/Noimage.png" class="show_content_image">
        <% else %>

        <a href=<%= @mainnote.image1 %> target="_blank"><img src=<%= @mainnote.image1 %> class="show_content_image"></a>
        <%end %>
        
        <%if @mainnote.image2.blank? %>
          <img src="/assets/Noimage.png" class="show_content_image">
        <% else %>
          <a href=<%= @mainnote.image2 %> target="_blank"><img src=<%= @mainnote.image2 %> class="show_content_image"></a>
        <%end %>
        
        <%if @mainnote.image3.blank?%>
          <img src="/assets/Noimage.png" class="show_content_image">
        <% else %>
          <a href=<%= @mainnote.image3 %> target="_blank"><img src=<%= @mainnote.image3 %> class="show_content_image"></a>
        <%end %>  
      </div>
      <div class="show_zone">  
        <h3 class="show_label">説明</h3>
        <div class="show_content_text">
          <p><%=safe_join(@mainnote.text.split("\n"),tag(:br))%></p>
        </div>
        <div class="show_top_contents">  
          <% if @mainnote.user_id == current_user.id %>
            <%= button_to "#{@mainnote.likes.count}"+"いいね" , mainnote_likes_path(@mainnote),class:"like_before", :disabled=>true %>
            <%= button_to "#{@mainnote.uses.count}"+"使います" , mainnote_uses_path(@mainnote) ,class:"use_before", :disabled=>true %>
          <% else %>
            <% if current_user.already_liked?(@mainnote) %>
              <%= button_to "#{@mainnote.likes.count}"+"いいね" , mainnote_like_path(@mainnote), method: :delete ,class:"like_after" %>
            <% else %>
              <%= button_to "#{@mainnote.likes.count}"+"いいね" , mainnote_likes_path(@mainnote),class:"like_before" %>
            <% end %>
            
            <% if current_user.already_used?(@mainnote) %>
              <%= button_to "#{@mainnote.uses.count}"+"使います" , mainnote_use_path(@mainnote), method: :delete,class:"use_after" %>
            <% else %>
              <%= button_to "#{@mainnote.uses.count}"+"使います" , mainnote_uses_path(@mainnote) ,class:"use_before"%>
            <% end %>
          <% end %>
        </div>

        <div class="show_category">
          <div class="show_content_category">
            <p class="show_category_label"><strong>カテゴリー:</strong></p>
            <p class="show_category_text"><%=@mainnote.category%></p>
          </div>
          <hr>
          
          <div class="show_content_category">
            <p class="show_category_label"><strong>ターゲット:</strong></p>
            <p class="show_category_text"><%=@mainnote.target%></p>
          </div>
          <hr>

          <div class="show_content_category">
            <p class="show_category_label"><strong>用意するもの:</strong></p>
            <p class="show_category_text"><%=@mainnote.thingstoprepare%></p>
          </div>
        </div>
        <div class="show_user_contents">
          <% @user_mainnote.each do |user| %>
            <p>投稿者</p>
            <%if user.image.blank? %>
              <img src="/assets/Noimageicon.jpeg" class="user_icon">
            <% else %>
              <img src=<%= user.image %> class="user_icon">
            <%end%>
              <p><strong><%= user.username %></strong></p>
          <% end %>
        </div>

        <div class="show_top_contents">
          <% if @mainnote.user_id == current_user.id %>
            <p><strong><%= link_to "工夫の更新", edit_mainnote_path(@mainnote) %></strong></p>
            <p><strong><%= link_to "工夫の削除", mainnote_path(@mainnote),method: :delete,data: { confirm: "本当に削除しますか?" } %></strong></p>
          <%end%>     
        </div>
        <%= render "notecomments/comment" %>
        <%= render "notecomments/form" %>
      </div>  
    </div>
  </div>
</div>  

      <!--コメントをしているかどうかの判定。rubyにはboolen型がないので文字列で判定をさせる。-->
      <!--<% if @mainnote.user_id == current_user.id%>
        <p>※自身投稿した工夫へ評価できません</p>
      <% else%>
        <%boolen='true'%>
        <% @notecomment.each do |notecomment| %>
          <% if notecomment.user_id == current_user.id%>
            <%boolen='false'%>       
          <% end %>
        <% end %>
        <%if boolen=='true'%>-->

        <!--<%else%>
          <p>※あなたは既にこの工夫へ評価を投稿しています</p>
        <%end%>
      <%end%>-->
