<div class="main_zone">
  <h1 align="center">工夫FACTORY</h1>
  <nav id="menuber">
    <ul class="menu_text">
    <%if current_user==nil%> 
      <li><%= link_to "新機登録", new_registration_path(resource_name) %><br /></li>
      <li><%= link_to "ログイン", new_session_path(resource_name) %><br /></li>
    <%else%>
      <li><%= link_to "マイページ", mainnnote_mypage_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
    <%end%>
    </ul>
    <ul class="menu_text">
      <li><%= link_to 'トップ', root_path %></li>
      <li><%= link_to "サイトについて", mainnnote_about_path %></li>
      <li><%= link_to "新規工夫投稿", new_mainnote_path %></li>   
      <li><%= link_to "工夫職人一覧", mainnnote_usershow_path %></li>
    </ul>
  </nav>
  <h2>トップ</h2>
  <div class="main_border">
    <% @mainnote.each do |mainnote| %>
      <div class="top_contents">
        <div class="top_user_contents">
          <% @user_mainnote=User.where(id: mainnote.user_id) %>        
          <% @user_mainnote.each do |user| %>
              <%if user.image.blank? %>
                <img src="/assets/Noimageicon.jpeg" class="top_user_icon">
              <% else %>
              <img src=<%= user.image %>  class="top_user_icon">
              <%end %>
            <%if current_user!=nil%> 
              <% if user.id == current_user.id%>
                  <p><%= link_to current_user.username, mainnnote_mypage_path %></p>
              <% else %>
                  <p><%= link_to user.username, "mainnnote/userpg/#{user.id}" %></p>
              <%end%>
            <%else%>
              <p><%= link_to user.username, "mainnnote/userpg/#{user.id}" %></p>
            <%end%>  
          <%end%>
        </div>
        <%if mainnote.image1.blank? %>
          <%=link_to image_tag("/assets/Noimage.png", class:"top_content_image"), mainnote%>
          <% else %>
          <%=link_to image_tag(mainnote.image1.url, class:"top_content_image"), mainnote%>
        <%end %>
        <p><strong><%= link_to mainnote.title, mainnote %></strong></p>
      </div> 
    <% end %>
    <div class="paginate">
      <%= paginate @mainnote %>
    </div>  
  </div>
</div>
