<div class="main_zone">
  <h1 align="center">工夫FACTORY</h1>
  <nav id="menuber">
    <ul class="menu_text">
      <li><%= link_to "マイページ", mainnnote_mypage_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
    </ul>
    <ul class="menu_text">
      <li><%= link_to 'トップ', root_path %></li>
      <li><%= link_to "サイトについて", mainnnote_about_path %></li>
      <li><%= link_to "新規工夫投稿", new_mainnote_path %></li>   
      <li><%= link_to "工夫職人一覧", mainnnote_usershow_path %></li>
    </ul>
  </nav>
<!--ユーザー一覧を表示。ログインしているユーザーにはマイページのリンクを表示させる。-->
  <h2>工夫職人一覧</h2>
  <div class="main_border">
    <% @user.each do |user| %>
      <div class="userlist_user_area">
        <% if user.id == current_user.id%>
          <%if current_user.image.blank? %>
            <div class="userlist_user_content">
              <%=link_to image_tag("/assets/Noimageicon.jpeg", class:"user_icon"), mainnnote_mypage_path%>
              <p class="top_user_name"><%= link_to current_user.username, mainnnote_mypage_path %></p>
            </div>
          <% else %>
            <div class="userlist_user_content">
              <%=link_to image_tag(current_user.image.url, class:"user_icon"), mainnnote_mypage_path%>           
              <p class="top_user_name"><%= link_to current_user.username, mainnnote_mypage_path %></p>
            </div>
          <%end %>
          
        <% else %>
          <%if user.image.blank? %>
            <div class="userlist_user_content">
              <%=link_to image_tag("/assets/Noimageicon.jpeg", class:"user_icon"), "userpg/#{user.id}"%>           
              <p class="top_user_name"><%= link_to user.username, "userpg/#{user.id}" %></p>
           </div>
          <% else %>
            <div class="userlist_user_content">
              <%=link_to image_tag(user.image.url, class:"user_icon"), "userpg/#{user.id}"%>
              <p class="top_user_name"><%= link_to user.username, "userpg/#{user.id}" %></p>
            </div>
          <%end %>
        <% end %>
      </div>  
    <% end %>
  </div>
</div>
