<div class="main_zone">
  <nav id="menuber_top">
    <ul>
      <%if current_user==nil%> 
        <li><%= link_to "新機登録", new_registration_path(resource_name) %><br /></li>
        <li><%= link_to "ログイン", new_session_path(resource_name) %><br /></li>
      <%else%>
        <li><%= link_to "マイページ", mainnnote_mypage_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :get %></li>
      <%end%>    
    </ul>
  </nav>  
  <h1 class="main_title">工夫FACTORY</h1>
  <nav id="menuber">
    <ul class="menu_text">
      <li><%= link_to "サイトトップ　", root_path %></li>
      <li><%= link_to "サイトについて", mainnnote_about_path %></li>
      <li><%= link_to "新規工夫投稿　", new_mainnote_path %></li>   
      <li><%= link_to "工夫職人一覧　", mainnnote_usershow_path %></li>
    </ul>
  </nav>
</div>  
<!--ユーザー一覧を表示。ログインしているユーザーにはマイページのリンクを表示させる。-->
<div class="main_background"> 
  <div class="main_zone">   
    <h2 class="page_title">パスワード変更</h2>
    <div class="main_border">
      <div class="form_background">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="login_form_area">
            <p class="label_width"><strong><%= f.label :"パスワード" %></strong>(<%= @minimum_password_length%>文字以上)</p>  
            <%boolen_password=""%>
            <% resource.errors.full_messages_for(:password).each do |message| %>
              <%boolen_password="false"%>
            <% end %>
            <div>
              <%if boolen_password=="false"%>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"error_form" %>
                <% resource.errors.full_messages_for(:password).each do |message| %>
                  <p class="error_massege_text"><strong><%= message %></strong></p>
                <% end %>
              <%else%>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form_size" %>
              <%end%>  
            </div>  
          </div>

          <div class="login_form_area">
            <p class="label_width"><strong><%= f.label :"パスワード再確認用" %></strong></p>
            <% boolen_password_confirmation=""%>
            <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
              <% boolen_password_confirmation="false"%>
            <% end %>
            <div>
              <%if boolen_password_confirmation=="false"%>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"error_form" %>
                <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
                  <p class="error_massege_text"><strong><%= message %></strong></p>
                <% end %>
              <%else%>  
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form_size" %>
              <%end%>
            </div>      
          </div>
          <div class="button_margin">
            <%= f.submit value:"パスワードを変更※調整中", class:"main_button", :disabled=>true%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>  